In [2]:
# Code for PhD project on traffic management
# Iaroslav Kriuchkov
# Aalto University

import pandas as pd
import numpy as np

In [59]:
# Function for downloading csv data from an automatic traffic monitoring system of Finnish Transport Agency
# url is the link to the exact file
# function returns the Pandas DataFrame with the data from specific TMS point on specific year on specific day
def data_import (tms_id, region, year, day):
    column_names = ['id', 'year', 'day', 'hour', 'minute', 'second', '1/100 second', 'length', 'lane', 'direction', 'vehicle', 'speed', 'faulty', 'Total time', 'Time interval', 'Queue start' ]
    df = pd.DataFrame()
    url = 'https://aineistot.liikennevirasto.fi/lam/rawdata/YYYY/REGION_ID/lamraw_TMS_YY_DD.csv'
    url = url.replace('YYYY', str(year)).replace('REGION_ID', region).replace('TMS', tms_id).replace('YY', str(year)[2:4]).replace('DD', str(day))
    df = pd.read_csv(url, delimiter = ";", names = column_names)
    return df

In [61]:
df = pd.DataFrame() 
df = data_import('101', '01', 2017, 1)
df.head()

,id,year,day,hour,minute,second,1/100 second,length,lane,direction,vehicle,speed,faulty,Total time,Time interval,Queue start
0,101,17,1,0,0,7,79,3.2,2,1,1,72,0,779,-2,0
1,101,17,1,0,0,11,99,4.6,5,2,1,86,0,1199,-2,0
2,101,17,1,0,0,14,14,3.8,2,1,1,83,0,1414,619,0
3,101,17,1,0,0,18,99,3.8,2,1,1,86,0,1899,468,0
4,101,17,1,0,0,29,7,3.6,2,1,1,80,0,2907,992,0